@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-navy: #0e141f;
    --line-color: #3b4e6b;
    --const-red: #c82337;
    --const-orange: #e06236;
    --const-yellow: #d7ab61;
    --const-blue: #2f4c79;
    --text-white: #e8e8e8;
    --text-dim: #6d7d8c;
    --sun-glow: #fff5cc;
    --display-top-inset: 0px;
    --display-right-inset: 0px;
    --display-bottom-inset: 0px;
    --display-left-inset: 0px;
    --display-width: calc(100vw - var(--display-left-inset) - var(--display-right-inset));
    --display-height: calc(100vh - var(--display-top-inset) - var(--display-bottom-inset));
    --segmented-colorbar-serif-size: 112px;
    --segmented-colorbar-stripe-width: 12px;
    --segmented-colorbar-outer-gap: 40px;
}
